*{
    margin:0;
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(203, 202, 202);
}

header{
    background-color:blueviolet;
    width:100%;
    height:100px;
}

#logo{
    background-color:yellow;
    width:50%;
    height:auto;
    font-weight:bolder;
    color:black;
}

.rightNav{
    width:50%;
    background-color:pink;
    float:right;
}

.rightNav p{
    display:inline;
    background-color:orange;
}