*{
    margin:0;
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(203, 202, 202);
}

header{
    background-color:white;
    width:100%;
    height:100px;
}

#logo{
    color:rgb(108, 160, 31);
    width:20%;
    height:auto;
    font-weight:bolder;
    font-size:35px;
}

#logo span{
    color:red;
}

.rightNav{
    width:50%;
    float:right;
    word-spacing:24px;
    color:black;
    font-weight:600;
}

.rightNav a{
    display:inline;
    color:black;
    text-decoration:none;
}